@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.main_home_hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.main_home_hero_child {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_home_hero_child h1 {
  text-align: center;
  font-family: "Noto Nastaliq Urdu", serif;
  color: white;
}
.main_home_hero_child ul li {
  font-weight: bold;
  list-style: none;
  font-size: 23px;
  color: white;
}
.main_home_hero_child ul {
  position: relative;
}
.main_home_hero_child ul li button {
  width: 300px !important;
  background: #864319;
  outline: none;
  border: none;
  color: white;
  border: 2px solid white;
  transition: 400ms ease-in-out;
}
.main_home_hero_child ul li button:hover {
  font-weight: bold;
}
.stars::before {
  content: url("../Images/star.png");
  position: absolute;
  right: 0%;
}
button {
  font-family: "Cairo", sans-serif;
  font-size: 17px;
  transition: 400ms ease-in-out;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.exeption {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #864319;
  color: white;
  padding-bottom: 20px;
}
.exeption h2 {
  font-family: "Noto Nastaliq Urdu", serif;
  font-weight: bold;
  font-size: 26px;
}
.exeption p {
  text-align: center;
  font-weight: bold;
}
.exeption span {
  color: yellow;
}
.exeption img {
  object-fit: cover;
}
.exception_child {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.each_excep {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: white;
  color: #000;
  padding: 7px 0 7px 0;
  margin-bottom: 20px;
}
.each_excep img {
  object-fit: cover;
}
.each_excep h4 {
  margin: 0;
}
.exeption button {
  width: 300px !important;
  background: #864319;
  outline: none;
  border: none;
  color: white;
  border: 2px solid white;
  transition: 400ms ease-in-out;
}
.exeption button:hover {
  font-weight: bold;
}
.proof {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background: #000;
}
.proof_child {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proof h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
.proof p {
  font-weight: bold;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #864319;
  color: white;
}
.services h1 {
  font-weight: bold;
  font-family: "Noto Nastaliq Urdu", serif;
}
.services_child {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.each_services {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 7px 0 7px 0;
  margin-bottom: 20px;
}
.each_services img {
  object-fit: cover;
  filter: drop-shadow(2px 2px 2px #000);
}
.forum {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  color: white;
  padding: 20px 0 20px 0;
}
.forum_child {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forum h1 {
  font-weight: bold;
}
.forum form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forum form div {
  margin-bottom: 20px;
}
.forum form input {
  border: none;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  background: transparent;
  color: white;
  padding: 7px;
  width: 300px;
  outline: none;
  font-family: "Cairo", sans-serif;
}
.forum form input::placeholder {
  color: white;
  font-weight: bold;
}
.forum p {
  text-align: center;
  font-weight: bold;
  color: #0dc7ff;
  margin: 0;
  animation: DoubleProduct infinite ease-out 1s;
}
@keyframes DoubleProduct {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.forum h1 {
  text-align: center;
}
form button {
  width: 300px !important;
  background: #864319;
  outline: none;
  border: none;
  color: white;
  border: 2px solid white;
  transition: 400ms ease-in-out;
}
form button:focus {
  box-shadow: inset 0 7px 7px 0 #864319;
}
form button:hover {
  transform: scale(1);
}
form {
  margin-top: 10px;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .main_home_hero {
    height: 100%;
    padding: 20px 0 20px 0;
  }
  .main_home_hero button {
    position: relative;
    left: 20px;
  }
  .main_home_hero img {
    width: 100% !important;
    object-fit: cover;
    height: 350px;
    position: relative;
  }
  .exception_child,
  .proof_child,
  .services_child {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .main_home_hero_child {
    flex-direction: column-reverse;
    height: 100%;
  }
  .services {
    text-align: center;
  }
  .swiper-slide {
    width: 340px !important;
    height: 400px;
    object-fit: cover;
  }
}
